  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

  .header {
      margin: 0;
  }

  .tutorial-tag {
      height: 92px;
      background-color: #2F5BEA;
  }

  .tutorial-tag--title {
      color: #FFF;
      text-align: center;
      font-family: 'Montserrat';
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .tutorial {
      margin: 50px 0 !important;
  }

  .tutorial-address {
      /* width: 270px !important; */
      height: 499px;
      flex-shrink: 0;
      background: #F6F6F6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      text-decoration: none;
      margin-bottom: 30px;
  }

  .tutorial-address--check {
      color: #4B91F9 !important;
      font-family: 'CircularStd';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  .tutorial-address--link {
      color: #000;
      font-family: 'CircularStd';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
  }

  .tutorial-content--img {
      width: 722px;
      height: 329px;
      background-image: url(./images/img/tutorial/tutorialcontent.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: 40px;
  }

  .tutorial-cbox--heading {
      color: #4B91F9;
      font-family: 'CircularStd';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .tutorial-cbox--title {
      color: #4B91F9;
      font-family: 'CircularStd';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .tutorial-cbox--contents {
      color: #54565A;
      font-family: 'CircularStd';
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: 22px;
  }

  .tutorial-cbox--subcontents {
      color: #4B91F9;
      text-align: justify;
      font-family: 'CircularStd';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      /* 137.5% */
  }

  .tutorial-cbox--link {
      color: #4B91F9;
      font-family: 'CircularStd';
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: 22px;
      text-decoration: none;
  }

  .tutorial-cbox__box--install {
      width: 100%;
      height: 177.36px;
      background-image: url(./images/img/tutorial/install.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .tutorial-cbox__box--download1 {
      width: 100%;
      height: 186.437px;
      background-image: url(./images/img/tutorial/download1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .tutorial-cbox__box--download2 {
      width: 100%;
      height: 340.29px;
      background-image: url(./images/img/tutorial/download2.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .tutorial-cbox__box--download3 {
      width: 100%;
      height: 370.574px;
      background-image: url(./images/img/tutorial/download3.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .tutorial-cbox__box--download4 {
      width: 100%;
      height: 153px;
      background-image: url(./images/img/tutorial/download4.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .advertise {
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
  }

  .advertise1 {
      width: 300px !important;
      height: 250px;
      background-image: url(./images/img/tutorial/Rectangle.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 50px;
  }

  .advertise2 {
      width: 300px !important;
      height: 250px;
      background-image: url(./images/img/tutorial/Rectangle1.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 50px;
  }

  .advertise3 {
      width: 160px;
      height: 600px;
      background-image: url(./images/img/tutorial/Rectangle2.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 50px;
  }

  .advertise4 {
      width: 160px;
      height: 600px;
      background-image: url(./images/img/tutorial/Rectangle3.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 50px;
  }

  @media (max-width: 768px) {

      .tutorial-content--img {
          height: 150px;
          margin-top: 50px;
      }

      .advertise1,
      .advertise2,
      .advertise3,
      .advertise4 {
          width: 100% !important;
          justify-content: start;
          margin-bottom: 20px;
          background-position: unset;
      }

      .advertise1,
      .advertise2 {
          height: 100px;
      }

      .advertise3,
      .advertise4 {
          height: 400px;
      }
    }
    @media (min-width: 769px) and (max-width: 1200px) {
  
        .tutorial-content--img {
            height: 150px;
            margin-top: 50px;
        }
  
        .advertise1,
        .advertise2,
        .advertise3,
        .advertise4 {
            width: 100% !important;
            justify-content: start;
            margin-bottom: 20px;
            background-position: center;
        }
  
        .advertise1,
        .advertise2 {
            height: 200px;
        }
  
        .advertise3,
        .advertise4 {
            height: 600px;
        }
    }