<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSRobot</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="../bootstrap-5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header-blog header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-8 col-lg-4 header-left">
                    <img class="header-left__img" src="../images/icons/logo.svg" alt="">
                    <span class="header-left__name">MS.Robot</span>
                </div>
                <div class="col-lg-8 header-right row h-100">
                    <div class="header-right__boxmenu col-8">
                        <ul class="header-right__menu row h-100">
                            <li class="col col-xl-2 col-xxl-2"><a href="/index.html">Home</a></li>
                            <li class="col col-xl-2 col-xxl-2"><a href="#">Tutorial</a></li>
                            <li class="col col-xl-2 col-xxl-2"><a href="">Forum</a></li>
                            <li class="col-2 col-xl-2 col-xxl-2"><a href="/layouts/blog.html">Blog</a></li>
                            <li class="col-3 col-xl-3 col-xxl-2 header-right__demosite"><a href="">Demo Sites</a>
                                <ul class="header-right__submenu row">
                                    <li class="header-right__submenu--li col-12"><a href="">Basic Site</a></li>
                                    <li class="header-right__submenu--li col-12"><a href="">Automation Practice Site</a>
                                    </li>
                                    <li class="header-right__submenu--li col-12"><a href="">Automation Actions Site</a>
                                    </li>
                                    <li class="header-right__submenu--li col-12"><a href="">Ecommerce Site</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header-right__flag col">
                        <img src="../images/icons/hoaki.png" alt="">
                    </div>
                    <div class="header-boxuesr col-3 row">
                        <button class="header-boxuesr__login col-5 col-xxl-5">Login</button>
                        <button class="header-boxuesr__signup col-5 col-xxl-5">Sign Up</button>
                    </div>
                </div>
                <div class="header-right__mobile col-4 col-lg-8">
                    <button class="header-right__mobile--btn"><i class="fa-solid fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="header-mobile">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-end"><button class="header-close"
                    style="width: 30px; height: 30px; border: none;">X</button></div>
            <div class="col-12 col-lg-4 header-left w-100 justify-content-center">
                <img class="col-6header-left__img" src="../images/icons/logo.svg" alt="">
                <span class="header-left__name">MS.Robot</span>
            </div>
            <ul class="header-right__menu row h-100">
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Home</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Tutorial</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Forum</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="/layouts/blog.html">Blog</a></li>
                <li class="col-12 col-xl-3 col-xxl-2 header-right__demosite"><a href="">Demo Sites</a>
                    <ul class="header-right__submenu row">
                        <li class="header-right__submenu--li col-12"><a href="">Basic Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Automation Practice Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Automation Actions Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Ecommerce Site</a></li>
                    </ul>
                </li>
            </ul>
            <div class="header-right__flag col-12 d-flex justify-content-center">
                <img src="../images/icons/hoaki.png" alt="">
            </div>
            <div class="header-boxuesr col-12 row">
                <button class="header-boxuesr__login col-5 col-xxl-5">Login</button>
                <button class="header-boxuesr__signup col-5 col-xxl-5">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="blog-tag container-fluid d-flex justify-content-center align-items-center">
        <h1 class="blog-tag--title">BLOGS</h1>
    </div>
    <div class="signuser">
        <div class="signuser__text">
            <p class="signuser--p">Sign up to get our FREE SELENIUM TEST AUTOMATION Code.</p>
            <p class="signuser--p">Sign up to join in Q&A forum with our TEST AUTOMATION ARCHITECT team.</p>
            <p class="signuser--p">Sign up to receive Selenium Tips & ebooks.</p>
        </div>
        <div class="signuser__search">
            <input type="text" class="signuser__search--input" placeholder="Enter your email">
            <button class="signuser__search--btn">Sign up</button>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-8 blog-box">
                <div class="blog-box__item">
                    <h1 class="blog-box__item--heading">How Did I Learn Selenium When I Have A Full-time Job</h1>
                    <div class="blogbox-user">
                        <div class="blogbox-user__info">
                            <div class="blogbox-user__info--avt"></div>
                            <p class="blog-user__info--name"><span class="blog-user__info--span">by</span> Thao Le</p>
                        </div>
                        <div class="blogbox-user__days">
                            <p class="blogbox-user__days--text">23 Dec, 2019</p>
                        </div>
                    </div>
                    <div class="blog-box__item1--img"></div>
                    <div class="blog-item__content">
                        <p class="blog-item__content--p">In this article I will tell you my experience to learn Selenium
                            Webdriver and Java programming</p>
                        <p class="blog-item__content--p">- How to start your learning journey</p>
                        <p class="blog-item__content--p">- How to learn faster in small time</p>
                        <p class="blog-item__content--p">- How to learn Java language (and yes, it’s hard!)</p>
                        <p class="blog-item__content--p">- How to make sure you can achieve your learning goal</p>
                        <p class="blog-item__content--p">Let’s get started.</p>
                    </div>
                    <div class="blog-item__reading">
                        <p class="blog-item__reading--cmt"><span class="blog-item__reading--intnumber">412</span>
                            Comment</p>
                        <button class="col-md-8 blog-item__reading--btn">Continue Reading</button>
                    </div>
                    <div class="blog-item__line"></div>
                </div>
                <div class="blog-box__item">
                    <h1 class="blog-box__item--heading">How Did I Learn Selenium When I Have A Full-time Job</h1>
                    <div class="blogbox-user">
                        <div class="blogbox-user__info">
                            <div class="blogbox-user__info--avt"></div>
                            <p class="blog-user__info--name"><span class="blog-user__info--span">by</span> Thao Le</p>
                        </div>
                        <div class="blogbox-user__days">
                            <p class="blogbox-user__days--text">23 Dec, 2019</p>
                        </div>
                    </div>
                    <div class="blog-box__item2--img"></div>
                    <div class="blog-item__content">
                        <p class="blog-item__content--p">In this article I will tell you my experience to learn Selenium
                            Webdriver and Java programming</p>
                        <p class="blog-item__content--p">- How to start your learning journey</p>
                        <p class="blog-item__content--p">- How to learn faster in small time</p>
                        <p class="blog-item__content--p">- How to learn Java language (and yes, it’s hard!)</p>
                        <p class="blog-item__content--p">- How to make sure you can achieve your learning goal</p>
                        <p class="blog-item__content--p">Let’s get started.</p>
                    </div>
                    <div class="blog-item__reading">
                        <p class="blog-item__reading--cmt"><span class="blog-item__reading--intnumber">302</span>
                            Comment</p>
                        <button class="col-md-8 blog-item__reading--btn unlock">Unlock now</button>

                    </div>
                    <div class="blog-item__line"></div>
                </div>

            </div>
            <div class="col-md-4 blog-search">
                <input type="text" class="col-12 blog-search--input" placeholder="Search">
                <div class="blog-search__text populararticles">
                    <h1 class="blog-search__text--title">Popular articles</h1>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--check">QA Analyst salary vs Test Automation Developer or QA Engineer
                        salary.</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--p">The fastest way to learn Selenium in Java language.</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--p">Can't create Selenium Automation Framework from scratch! You're not
                        alone!</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                </div>
                <div class="blog-search__text recentarticles">
                    <h1 class="blog-search__text--title">RECENT articles</h1>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--check">QA Analyst salary vs Test Automation Developer or QA Engineer
                        salary.</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--p">The fastest way to learn Selenium in Java language.</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                    <p class="blog-search__text--p">Can't create Selenium Automation Framework from scratch! You're not
                        alone!</p>
                    <p class="blog-search__text--days">23 July, 2018</p>
                    <div class="blog-search--line"></div>
                </div>
                <div class="blog-search__text keywords">
                    <h1 class="blog-search__text--title">Keywords</h1>
                    <div class="blog-search--line"></div>
                    <div class="row">
                        <button class="col-3 blog__keywords--btn">Ideas</button>
                        <button class="col-4 blog__keywords--btn">Education</button>
                        <button class="col-3 blog__keywords--btn">Design</button>
                        <button class="col-4 blog__keywords--btn blog__keywords--check">Development</button>
                        <button class="col-4 blog__keywords--btn">SELENIUM</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div class="olderpost">Older posts</div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="row" style="justify-content: space-evenly;">
            <div class="col-12 col-lg-4 footer__tutorial">
                <p class="footer__heading">TUTORIAL</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col col-md col-lg-6 footer-list--p">Java</p>
                        <p class="col col-md col-lg-6 footer-list--p">Jenkins</p>
                        <p class="col-5 col-md-2 col-lg-6 footer-list--p">Selenium (Java)</p>
                        <p class="col col-md col-lg-6 footer-list--p">Git</p>
                        <p class="col-7 col-md-4 col-lg-6 footer-list--p">Selenium Automation Framework</p>
                        <p class="col col-md col-lg-6 footer-list--p">Github</p>
                        <p class="col-5 col-md-4 col-lg-6 footer-list--p">Docker for Selenium</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">Maven</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">TestNG</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">Log4j</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 footer__demo">
                <p class="footer__heading">DEMO SITES</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Basic Demo Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Automation Practice Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Automation Action Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">E-commerce Demo Site</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 footer__useful">
                <p class="footer__heading">USEFUL LINKS</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col col-lg-12 footer-list--p">Block</p>
                        <p class="col col-lg-12 footer-list--p">Forum</p>
                        <p class="col-6 col-lg-12 footer-list--p">Automation Action Site</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <span class="col-6 col-lg-4 footer-bottom__corp footer-bottom__share">© 2020 MS.Robot Corp.</span>
        <div class="col-6 col-lg-3 footer-bottom__media footer-bottom__share">
            <img src="/images/icons/footer/social.svg" alt="">
        </div>
    </div>

    <script src="../main.js"></script>
</body>

</html>