<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSRobot</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tutorial.css">
    <link rel="stylesheet" href="../bootstrap-5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header-tutorial header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-8 col-lg-4 header-left">
                    <img class="header-left__img" src="../images/icons/logo.svg" alt="">
                    <span class="header-left__name">MS.Robot</span>
                </div>
                <div class="col-lg-8 header-right row h-100">
                    <div class="header-right__boxmenu col-8">
                        <ul class="header-right__menu row h-100">
                            <li class="col col-xl-2 col-xxl-2"><a href="/index.html">Home</a></li>
                            <li class="col col-xl-2 col-xxl-2"><a href="#">Tutorial</a></li>
                            <li class="col col-xl-2 col-xxl-2"><a href="">Forum</a></li>
                            <li class="col-2 col-xl-2 col-xxl-2"><a href="/layouts/blog.html">Blog</a></li>
                            <li class="col-3 col-xl-3 col-xxl-2 header-right__demosite"><a href="">Demo Sites</a>
                                <ul class="header-right__submenu row">
                                    <li class="header-right__submenu--li col-12"><a href="">Basic Site</a></li>
                                    <li class="header-right__submenu--li col-12"><a href="">Automation Practice Site</a></li>
                                    <li class="header-right__submenu--li col-12"><a href="">Automation Actions Site</a></li>
                                    <li class="header-right__submenu--li col-12"><a href="">Ecommerce Site</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header-right__flag col">
                        <img src="../images/icons/hoaki.png" alt="">
                    </div>
                    <div class="header-boxuesr col-3 row">
                        <button class="header-boxuesr__login col-5 col-xxl-5">Login</button>
                        <button class="header-boxuesr__signup col-5 col-xxl-5">Sign Up</button>
                    </div>
                </div>
                <div class="header-right__mobile col-4 col-lg-8">
                    <button class="header-right__mobile--btn"><i class="fa-solid fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="header-mobile">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-end"><button class="header-close"
                    style="width: 30px; height: 30px; border: none;">X</button></div>
            <div class="col-12 col-lg-4 header-left w-100 justify-content-center">
                <img class="col-6header-left__img" src="../images/icons/logo.svg" alt="">
                <span class="header-left__name">MS.Robot</span>
            </div>
            <ul class="header-right__menu row h-100">
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Home</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Tutorial</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="">Forum</a></li>
                <li class="col-12 col-xl-2 col-xxl-2"><a href="/layouts/blog.html">Blog</a></li>
                <li class="col-12 col-xl-3 col-xxl-2 header-right__demosite"><a href="">Demo Sites</a>
                    <ul class="header-right__submenu row">
                        <li class="header-right__submenu--li col-12"><a href="">Basic Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Automation Practice Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Automation Actions Site</a></li>
                        <li class="header-right__submenu--li col-12"><a href="">Ecommerce Site</a></li>
                    </ul>
                </li>
            </ul>
            <div class="header-right__flag col-12 d-flex justify-content-center">
                <img src="../images/icons/hoaki.png" alt="">
            </div>
            <div class="header-boxuesr col-12 row">
                <button class="header-boxuesr__login col-5 col-xxl-5">Login</button>
                <button class="header-boxuesr__signup col-5 col-xxl-5">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="tutorial-tag container-fluid d-flex justify-content-center align-items-center">
        <h1 class="tutorial-tag--title">TUTORIAL</h1>
    </div>
    <div class="body">
        <div class="tutorial">
            <div class="row">
                <div class="tutorial-boxitem">
                    <div class="row">
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--1 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--2 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--3 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--4 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--5 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--6 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--7 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--8 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>

                    </div>
                </div>
                <div class="tutorial-boxitem ">
                    <div class="row">
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--9 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--10 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--11 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--12 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--13 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--14 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--15 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                        <div class="col-6 col-sm-3 col-lg tutorial__item">
                            <div class="tutorial__item--16 tutorial--item "></div>
                            <h1 class="tutorial__item--heading">Selenium basic</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tutorial-content">
            <div class="row">
                <div class="col-12 col-lg-2 tutorial-address">
                    <a href="" class="tutorial-address--link tutorial-address--check">Jmeter Fundamentals, Install and Create A Basic Jmeter Test Plan</a>
                    <a href="" class="tutorial-address--link ">Browser Recording, WorkBench, Running Your First Test, Listener, Reading Test Result</a>
                    <a href="" class="tutorial-address--link ">Toolbars, Log Into A Website, Regular Expression Extractor</a>
                    <a href="" class="tutorial-address--link ">Handle Dynamic Token, Assertions, Using CSV Data File</a>
                    <a href="" class="tutorial-address--link ">Jmeter Components</a>
                    <a href="" class="tutorial-address--link ">Throughput, Function Helper, Saving Test Result</a>
                    <a href="" class="tutorial-address--link ">Remote Jmeter, Plugins Manager, Variables</a>
                    <a href="" class="tutorial-address--link ">HTTP Simple Table Server, Json Format, Bean Shell Script</a>
                </div>
                <div class="col-lg-7 col-8">
                    <div class="col-12 col-lg-12 tutorial-content--img"></div>
                    <div class="col-lg-12 tutorial-cbox">
                        <h1 class="tutorial-cbox--heading">Jmeter Fundamentals, Install and Create A Basic Jmeter Test
                            Plan</h1>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">Load, Stress And Performance Test</h3>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Load
                                    test:</span> is the testing how the system works by increasing the load sending to
                                the system. With load testing, we will know how many user using software product that
                                the system still works properly.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Performance
                                    test:</span> is the testing how software application performed such as how long it
                                takes for the servers to response. With performance testing, we will know how long it
                                takes for a software product get response so that we can improve the quality of software
                                by making sure it will be run in the expected time response.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Stress
                                    test:</span> is the testing how the system works under stress. With stress test, we
                                will know at which point the system will be failed and how the system recovers back.</p>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">What Is Jmeter?</h3>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> is a free application testing software from The Apache Software Foundation.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> is a tool for running Load test, Performance test or Stress test. It is designed for testing Web Application, Web services (Soap & Rest api) and more.</p>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">How does Jmeter work?</h3>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> acts like a group of users sending requests to a target server. It collects response from target server and other information which show the performance of the application via graphs or summary tables.</p>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">Why Use Jmeter?</h3>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> is an open-source application. Therefore, it is very popular Test tool.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> has been created for 15 years and has a large community supporting.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Jmeter</span> is one of the top Software Testing Tool for automation. Most of the opening job for software tester, QA engineer, Automation analyst, QA Analyst require or “good to have” Jmeter skill.</p>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">Install Jmeter</h3>
                            <p class="tutorial-cbox--contents">Below is Operating Systems can be run Jmeter. Even if your OS is not listed, Jmeter should run on it provided that the JVM is compliant.</p>
                            <div class="tutorial-cbox__box--install"></div>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">Download Java:</h3>
                            <p class="tutorial-cbox--contents">Latest java version: <a href="https://www.java.com/en/download/windows-64bit.jsp" class="tutorial-cbox--link">https://www.java.com/en/download/windows-64bit.jsp</a></p>
                            <p class="tutorial-cbox--contents">Following the Instruction from Java to install. Then set up JAVA_HOME environment variable by these steps</p>
                            <p class="tutorial-cbox--contents">- Open Control Panel\System and Security\System on your computer</p>
                            <div class="tutorial-cbox__box--download1"></div>
                            <p class="tutorial-cbox--contents">- Choose Advance system setting</p>
                            <div class="tutorial-cbox__box--download2"></div>
                            <p class="tutorial-cbox--contents">- Click on Environment Variables</p>
                            <div class="tutorial-cbox__box--download3"></div>
                            <p class="tutorial-cbox--contents">- Select Path under System variables and click on Edit</p>
                            <div class="tutorial-cbox__box--download4"></div>
                            <p class="tutorial-cbox--contents">- At the end of Variable value, put path where is <span class="tutorial-cbox--link">Java\Bin folder such as C:\Program Files (x86)\Java\jre1.8.0_91\bin</span></p>
                            <p class="tutorial-cbox--contents">- Then click on OK. Make sure you don’t remove any existing Variable value.</p>
                            <p class="tutorial-cbox--contents">Download Jmeter: <a href="http://Jmeter.apache.org/download_Jmeter.cgi" class="tutorial-cbox--link">http://Jmeter.apache.org/download_Jmeter.cgi</a></p>
                            <p class="tutorial-cbox--contents">- To install Jmeter, simply unzip the zip/tar file into the directory where you want Jmeter to be installed (zip file is for Window, tar file is for Unix). Make sure that you have a JRE/JDK correctly installed and the JAVA_HOME environment variable set.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">To run Jmeter</span> run the Jmeter.bat (for Windows) or Jmeter (for Unix) file. These files are found in the bin directory.</p>
                        </div>
                        <div class="tutorial-cbox__box">
                            <h3 class="tutorial-cbox--title">Jmeter Test Plan: Basic Elements (Thread Group, Sampler, Assertion, Listener)</h3>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Thread group:</span> is to set up number of user to run the test.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Sampler:</span> is the request for running the test (http/https/soap/rest).</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Assertions:</span> are to use for comparing the actual result with the expected result so that we can decide if the test is passed.</p>
                            <p class="tutorial-cbox--contents"><span class="tutorial-cbox--subcontents">Listeners:</span> are the reports from Jmeter.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-4 col-lg-3 advertise">
                    <div class="advertise1"></div>
                    <div class="advertise2"></div>
                    <div class="advertise3"></div>
                    <div class="advertise4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row" style="justify-content: space-evenly;">
            <div class="col-12 col-lg-4 footer__tutorial">
                <p class="footer__heading">TUTORIAL</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col col-md col-lg-6 footer-list--p">Java</p>
                        <p class="col col-md col-lg-6 footer-list--p">Jenkins</p>
                        <p class="col-5 col-md-2 col-lg-6 footer-list--p">Selenium (Java)</p>
                        <p class="col col-md col-lg-6 footer-list--p">Git</p>
                        <p class="col-7 col-md-4 col-lg-6 footer-list--p">Selenium Automation Framework</p>
                        <p class="col col-md col-lg-6 footer-list--p">Github</p>
                        <p class="col-5 col-md-4 col-lg-6 footer-list--p">Docker for Selenium</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">Maven</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">TestNG</p>
                        <p class="col col-md-2 col-lg-6 footer-list--p">Log4j</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 footer__demo">
                <p class="footer__heading">DEMO SITES</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Basic Demo Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Automation Practice Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">Automation Action Site</p>
                        <p class="col-6 col-md-3 col-lg-12 footer-list--p">E-commerce Demo Site</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 footer__useful">
                <p class="footer__heading">USEFUL LINKS</p>
                <div class="footer__hr"></div>
                <div class="footer-list">
                    <div class="row">
                        <p class="col col-lg-12 footer-list--p">Block</p>
                        <p class="col col-lg-12 footer-list--p">Forum</p>
                        <p class="col-6 col-lg-12 footer-list--p">Automation Action Site</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <span class="col-6 col-lg-4 footer-bottom__corp footer-bottom__share">© 2020 MS.Robot Corp.</span>
        <div class="col-6 col-lg-3 footer-bottom__media footer-bottom__share">
            <img src="../images/icons/footer/social.svg" alt="">
        </div>
    </div>

    <script src="../main.js"></script>
</body>

</html>